name: NDSFactory-Builds

on: [push]

env:
  BUILD_TYPE: Release

jobs:
#  build-linux:
#    runs-on: ubuntu-latest
#
#    steps:
#    - uses: actions/checkout@v2
#
#    - name: Create Build Environment
#      run: |
#        sudo apt-get update
#        sudo apt-get install -y build-essential qt5-default cmake
#        mkdir build
#
#    - name: Configure CMake
#      working-directory: ${{github.workspace}}/build
#      shell: bash
#      run: |
#        cmake -DCMAKE_BUILD_TYPE=$BUILD_TYPE ..
#
#    - name: Build
#      working-directory: ${{github.workspace}}/build
#      shell: bash
#      run: |
#        make -j4
#        
#    - name: Archive Artifact
#      working-directory: ${{github.workspace}}/build
#      shell: bash
#      run: |
#        tar -czvf NDSFactory_`date +%Y%m%d`__Linux_x86_64.tar.gz NDSFactory ../README.md ../LICENSE
#
#    - name: Upload Artifact
#      uses: actions/upload-artifact@v2
#      with:
#        name: Linux
#        path: build/NDSFactory_*__Linux_x86_64.tar.gz
#        if-no-files-found: error
        
  build-macos:
    runs-on: macos-latest

    steps:
    - uses: actions/checkout@v2
    
    - name: Install Qt
      uses: jurplel/install-qt-action@v2
      
    - name: Install CMake
      uses: lukka/get-cmake@latest

    - name: Create Build Environment
      run: |
        mkdir build
        
    - name: Configure CMake
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: |
        cmake -DCMAKE_BUILD_TYPE=$BUILD_TYPE ..

    - name: Build
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: |
        make -j4
        
    - name: Archive Artifact
      working-directory: ${{github.workspace}}/build
      shell: bash
      run: |
        zip -r NDSFactory_`date +%Y%m%d`__macOS_x86_64.zip NDSFactory.app ../README.md ../LICENSE
        ls -la

    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: macOS
        path: build/NDSFactory_*__macOS_x86_64.zip
        if-no-files-found: error
